@import "tailwindcss";


@theme {
  --font-poppins: 'Poppins', sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-dark: #222831;
  --color-medium: #393E46;
  --color-secondary: #948979;
  --color-primary: #DFD0B8;
}

@layer base {
  body {
    @apply font-inter text-white bg-dark;
  }

  h1,
  h2,
  h3 {
    @apply font-poppins;
  }

}
